.icon-32-copy_f2 {
background-image:url(../images/copy_f2.png);
}
.icon-32-extensions_f2 {
background-image:url(../../../images/extensions_f2.png);
}
.icon-32-properties_f2 {
background-image:url(../images/properties_f2.png);
}
.icon-32-downloads_f2 {
background-image:url(../../../images/downloads_f2.png);
}
.icon-32-restore_f2 {
background-image:url(../../../images/restore_f2.png);
}
.icon-32-person2_f2 {
background-image:url(../../../images/person2_f2.png);
}
.icon-32-wizardedit {
background-image:url(../images/wizardedit.png);
}
.icon-32-transform {
background-image:url(../images/transform.png);
}